<hr /> 
<footer> 
<p><a href="http://www.byvoid.com/" target="_blank">BYVoid</a> 2012</p> 
</footer> 
</div> 
</body> 
<script src="/javascripts/jq.js"></script> 
<script  src="/javascripts/welcome.js"></script> 
<script src="/javascripts/bootstrap.js"></script> 
</html>