<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../public/stylesheets/xiangce.css">
</head>
<body>
	<script src="../public/javascripts/xiangce.js"></script>
	<div id="xiangce_window">
		<div class="property"></div>
		<div class="time">
			<ul class="nav">
				<li class="toolbar">
					<div>
						<a class="add" href="javascript:;"></a>
					</div>
					<div class="tools">
						<a href="javascript:;" class="timeChange"></a>
						<a href="javascript:;" class="texiao"></a>
						<a href="javascript:;" class="addImage"></a>
					</div>
				</li>
				<li class="kedu"></li>
			</ul>
			<div class="objects">
				<div class="objs_list">
					<ul>
						
					</ul>
				</div>
				<div class="time_list">
					<ul>
					</ul>
				</div>
			</div>
		</div>
		<div class="canvas">
			<div class="area"></div>
		</div>
	</div>
	
</body>
</html>